@font-face {
  font-family: bigCaslon;
  src: url('./assets/font/BigCaslon.ttf');
  font-weight: normal;
}
@font-face {
  font-family: JosefinSans;
  src: url('./assets/font/Josefin_Sans/JosefinSans-SemiBold.ttf');
  font-weight: semibold;
}

@font-face {
  font-family: JosefinSans;
  src: url('./assets/font/Josefin_Sans/JosefinSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: futura;
  src: url('./assets/font/futura/futura-medium.ttf');
  font-weight: bold;
}